spring:
  application:
    name: Communication Task Service
  datasource:
    url: jdbc:postgresql://localhost:5432/communication_task_db
    username: postgres
    password: secret
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      idle-timeout: 30000
      maximum-pool-size: 10
      auto-commit: true
      pool-name: MyHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:/db.migration

server:
  port: 8080

#logging:
#  level:
#    root: INFO
#    org:
#      springframework:
#        security: DEBUG